<h1>Willkommen bei TreX!</h1>
<br>
<div>
    <p>Reisekostenabrechnung per Mail.</p>
    <p>Geben Sie zunächst Ihren Namen und Personalnummer an sowie die Emailadresse, an die ihre Abrechnung verschickt werden soll. </p>
       <p> Es kann bisher nur ein User erstellt werden.</p>
</div>
<form [formGroup]="userForm" (ngSubmit)="userSubmit()">
    <div class="col">
        <label>
    <input type="text" class="form-control" placeholder="Name" formControlName="name">
</label>
    </div>
    <div class="col">
        <label>
        <input type="number" class="form-control" placeholder="Personalnummer" formControlName="staffNumber">
    </label>
    </div>
    <div class="col">
        <label>
    <input type="email" class="form-control" placeholder="Emailadresse" formControlName="email">
</label>
    </div>
    <button type="submit" (onSubmit)="userSubmit()">Abrechnung erstellen</button>
</form>
<br>