<div class="col">
    <label for="exampleFormControlFile1">Bitte laden Sie ihre Belege hoch (mit aussagekräftigem Namen!)</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1" multiple>
    <button type="submit" value="Upload" class="col"><span class="glyphicon glyphicon-upload"></span> Upload</button>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Filename</th>
        <th>Format</th>
        <th>Timestamp</th>
        
    </tr>
    </thead>
    <tbody>
        <tr>
    <!-- <tr *ngFor="let  ? of ?"> -->
        <td><strong>name</strong></td>
        <td><strong>format</strong></td>
        <td><strong>date</strong></td>
        
    </tr>
    </tbody>
</table>