<form *ngIf="travelExpense" [formGroup]="itemForm" (ngSubmit)="itemSubmit()">

    <div class="col">
        <input class="form-control" placeholder="Datum" formControlName="date" matInput [matDatepickerFilter]="dateFilter" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
    </div>
    <div class="col">
        <input type="text" class="form-control" placeholder="Beschreibung" formControlName="description">
        <div *ngIf="itemForm.controls.description.errors && (itemForm.controls.description.touched || itemForm.controls.description.dirty)" class="alert alert-danger">
            Bitte fügen Sie eine Beschreibung hinzu.
        </div>
    </div>
    <div class="col">
        <input type="number" class="form-control" placeholder="Betrag in €" formControlName="amount">
        <div *ngIf="itemForm.controls.amount.errors && (itemForm.controls.amount.touched || itemForm.controls.amount.dirty)" class="alert alert-danger">
            <div *ngIf="itemForm.controls.amount.errors.required">
                Bitte einen Betrag angeben.
            </div>
            <div *ngIf="itemForm.controls.amount.errors.min">
                Betrag darf nicht negativ sein.
            </div>
        </div>
    </div>
    <button type="submit" [disabled]="itemForm.invalid" (onSubmit)="itemSubmit()">submit</button>
</form>
