<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Monat</th>
            <th scope="col">Jahr</th>

            <th scope="col">Betrag</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let travelExpense of travelExpenseList">
            <td scope="col" routerLink="../expenselist/{{travelExpense.id}}">{{travelExpense.id}}</td>
            <td scope="col" routerLink="../expenselist/{{travelExpense.id}}">{{travelExpense.month}}</td>
            <td scope="col" routerLink="../expenselist/{{travelExpense.id}}">{{travelExpense.year}}</td>

            <td scope="col">{{travelExpense.costs}}</td>
            <td scope="col" [ngStyle]="{backgroundColor: statuscolor}"></td>
            <td><button (click)="statusUpdate()">Bearbeitet/Ausgezahlt</button></td>
        </tr>
    </tbody>
</table>